@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --tamaño_fuente:18px;
    --maximo__ancho:2400px;
    --maximo__alto:95px;
    --alto__nav:70px;
    --primary__color:#d1cdeb;
    --secondary__color:#4f4352;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: var(--tamaño_fuente);
}
header{
    position: sticky;
}

/**-----------Header-------------**/

.contenedor{
    width: 50%;
    height: 100%;
    max-height: var(--maximo__alto);
    max-width: var(--maximo__ancho);
    margin: 0 auto;
    overflow: hidden;
    
}
.nav__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 25px;
    font-weight: 700;
}
.nav__lista{
    list-style: none;
    display: flex;
    height: 70px;
    align-items: center;
    gap: 2rem;
    
}
.nav__link{
    text-decoration: none;
    color: rgb(32, 18, 54);
}

/**-----------Home-------------**/

.homeContainer{
    width: 100%;
    height: 600px;
    max-width: var(--maximo__ancho);
    
    background-color: #eeebfc;
}
.perra{
    position: absolute;
    height: 600px;
    width: 500px;
    left: 400px;
    bottom: 222px;
    z-index: 1;
}
.pata{
    position: absolute;
    height: 220px;
    bottom: 420px;
    left: 420px;
    z-index: 0;
}
.textContainer{
    padding-top: 10px;
    
    position: absolute;
    bottom: 350px;
    right: 660px;
    width: 300px;
    height: 370px;
    top: 150px;
    
    
    
}
.welcome{
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    background-color:var(--primary__color);
    font-weight: 700;
    padding: 2px;
    border-radius: 30px;
    margin-bottom: 20px;
    color: var(--secondary__color);
}
.pet{
    font-size: 55px;
    color: var(--secondary__color);
}
.Doctor{
    font-size: 90px;
    padding-top: 1px;
    color: var(--secondary__color);
}
.textMid{
    padding-bottom: 30px;
    color: var(--secondary__color);

}
.textBody{
    margin-bottom: 30px;
}
.btn{
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    border-radius: 30px;
    background-color: var(--primary__color);
    text-decoration: none;
    color: var(--secondary__color);
}
/**-----------AboutUs-------------**/

.aboutCenter{
    
    text-align: center;
}
.abouttitle{
    font-size: var(--tamaño_fuente);
    color: var(--secondary__color);
}
.abouttext{
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--secondary__color);
}
.aboutContainer{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.cardItem{
    width: 490px;
    padding: 30px;
    
}

.onepic{
    position: relative;
    width: 150px;
    z-index: 1;
    left: 130px;
    margin-bottom: 70px;
    top: 40px;
}
.onepicbg{
    position: absolute;
    width: 250px;
    height: 150px;
    z-index: 0;
    left: 220px;
    top: 1050px;
    margin-bottom: 70px;
}

.twopic{
    position: relative;
    width: 150px;
    z-index: 1;
    left: 130px;
    margin-bottom: 70px;
    top: 40px;
}
.twopicbg{
    position: absolute;
    width: 250px;
    height: 150px;
    z-index: 0;
    right: 830px;
    top: 1050px;
    margin-bottom: 70px;
}
.threepic{
    position: relative;
    width: 150px;
    z-index: 1;
    left: 130px;
    margin-bottom: 70px;
    top: 40px;
}
.threepicbg{
    position: absolute;
    width: 250px;
    height: 150px;
    z-index: 0;
    right: 230px;
    top: 1050px;
    margin-bottom: 70px;

}


.cardTitle{
    text-align: center;
    font-size: var(--tamaño_fuente);
}
.cardText{
    margin-top: 10px;
    text-align: center;
    font-size: var(--tamaño_fuente);
}
.boton{
    display: grid;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    border:solid var(--secondary__color);
    color: var(--secondary__color);
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 30px;
}

/**-----------PANELSSS-------------**/

#aboutus{
    text-align: center;
    padding: 20px;
}
.usCenter{
    text-align: center;
    font-size: var(--tamaño_fuente);
}
.ustittle{
    color: var(--secondary__color);
}
.ustext{
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--secondary__color);
}
.about-us h1 {
    font-size: var(--tamaño_fuente);
    margin-bottom: 40px;
    color: #333;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
}

.block {
    flex: 1;
    max-width: 400px;
    text-align: center;
}

.image-block img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    
}

.text-block h2 {
    text-align: start;
    font-size: 1.var(--tamaño_fuente);
    margin-bottom: 15px;
    color: #333;
}

.text-block p {
    text-align: start;
    font-size: var(--tamaño_fuente);
    color: #555;
    line-height: 1.6;
}

/**-----------PRODUCTS----------**/

.featured-products {
    text-align: center;
    padding: 40px 20px;
    font-size: var(--tamaño_fuente);
}

.featured-products h1 {
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--secondary__color);
    
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #fff5e1;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}
.product-card img {
    width: 100%;
    height: auto;
    
    margin-bottom: 15px;
}

.product-card h2 {
    font-size: var(--tamaño_fuente);
    margin-bottom: 10px;
    color: #333;
}

.product-card p {
    font-size: var(--tamaño_fuente);
    margin-bottom: 15px;
    color: #555;
}

.product-card .price {
    font-size: var(--tamaño_fuente) ;
    font-weight: bold;
    color: #333;
}
/**-----------SERVICES----------**/

.services {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.section-title {
    font-size: var(--tamaño_fuente);
    color: var(--secondary__color);
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}

.main-title {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--secondary__color);
    margin-bottom: 50px;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.icon-circle {
    background-color: #eaf6ff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon-circle img {
    width: 40px;
    height: 40px;
}

.service-item p {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
    text-align: center;
}







